<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SPCAapp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E1E6B1961C89723E00965F90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1E6B1AA1C89723E00965F90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1E6B1B51C89723E00965F90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
